<!--------------- BEGIN Menu 1 --------------->

<!-- <button [matMenuTriggerFor]="meuMenu">Menu</button>

<mat-menu #meuMenu="matMenu">

  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>

</mat-menu> -->

<!---------------END Menu 1 --------------->

<!--------------- BEGIN Menu 2 --------------->

<!-- <button [matMenuTriggerFor]="menuComSubmenu">Mega menu</button>

<mat-menu #menuComSubmenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="submenu1">Submenu 1</button>
  <button mat-menu-item [matMenuTriggerFor]="submenu2">Submenu 2</button>
</mat-menu>

<mat-menu #submenu1="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #submenu2="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
  <button mat-menu-item>Item 3</button>
  <button mat-menu-item>Item 4</button>
</mat-menu> -->

<!--------------- END Menu 2 --------------->

<!--------------- BEGIN Toolbar 1 --------------->

<!-- <mat-toolbar color="primary">
  <h1>Toolbar na cor <strong>primary</strong>!</h1>
</mat-toolbar>

<mat-toolbar color="accent">
  <h1>Toolbar na cor <strong>accent</strong>!</h1>
</mat-toolbar>

<mat-toolbar color="warn">
  <h1>Toolbar na cor <strong>warn</strong></h1>
</mat-toolbar> -->

<!--------------- END Toolbar 1 --------------->

<!--------------- BEGIN Toolbar row --------------->

<!-- <mat-toolbar>
  <mat-toolbar-row>Primeira linha da toolbar.</mat-toolbar-row>
  <mat-toolbar-row>Segunda linha da toolbar.</mat-toolbar-row>
  <mat-toolbar-row>Terceira linha da toolbar.</mat-toolbar-row>
</mat-toolbar> -->

<!--------------- END Toolbar row --------------->

<!--------------- BEGIN SIDENAV --------------->

<!-- <mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    Conteúdo da sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    Conteúdo da página
  </mat-sidenav-content>

</mat-sidenav-container> -->

<!--------------- BEGIN SIDENAV --------------->

<!--------------- BEGIN SIDENAV TOGGLE --------------->

<!-- <mat-sidenav-container>
  
  <mat-sidenav #variavelLocalSidenav mode="side">
    Conteúdo da sidenav 
  </mat-sidenav>

  <mat-sidenav-content>

    <button (click)="variavelLocalSidenav.toggle()"> 
      Toggle sidenav
    </button>
    
  </mat-sidenav-content>

</mat-sidenav-container> -->

<!--------------- END SIDENAV TOGGLE --------------->

<!--------------- BEGIN ICON --------------->

<!-- <mat-icon>home</mat-icon> -->

<!--------------- END ICON --------------->

<!--------------- BEGIN BUTTON --------------->

<!-- <button mat-button>Básico</button>
<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button> -->

<!--------------- END BUTTON --------------->


<!--------------- BEGIN BUTTON --------------->

<!-- <button mat-raised-button> Basic </button>
<button mat-raised-button color="primary"> Primary </button>
<button mat-raised-button color="accent"> Accent </button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled> Disabled </button>

<a title="link" mat-raised-button routerLink=".">Link</a> -->

<!--------------- END BUTTON --------------->

  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <button title="link" mat-flat-button routerLink=".">Link</button>

  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button color="primary">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button color="accent">
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button disabled>
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-fab>Basic</button>
  <button mat-fab color="primary">Primary</button>
  <button mat-fab color="accent">Accent</button>
  <button mat-fab color="warn">Warn</button>
  <button mat-fab disabled>Disabled</button>

  <button mat-fab>
    <mat-icon> favorite </mat-icon>
  </button>

  <a title="link" mat-fab routerLink=".">Link</a>

  <button mat-mini-fab>Basic</button>
  <button mat-mini-fab color="primary">Primary</button>
  <button mat-mini-fab color="accent">Accent</button>
  <button mat-mini-fab color="warn">Warn</button>
  <button mat-mini-fab disabled>Disabled</button>

  <button mat-mini-fab>
    <mat-icon>favorite</mat-icon>
  </button>

  <a title="link" mat-mini-fab routerLink=".">Link</a>

<!---------------   --------------->

